body {
    text-align: justify;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    color: rgb(46, 2, 59);
}

#container {
    margin: 0 auto;
    width: 900px;
    border: solid 2px;
    background: rgb(157, 112, 216);
}

#right {
    margin-right: 5000px;
}

#header {
    text-align: center;
    padding: 30px;
    color: whitesmoke;
    text-shadow: rgb(46, 2, 59) 0.1em 0.1em 0.2em;
}

#header h1 {
    font-size: 24px;
    margin: 0;
}

#header h2 {
    font-size: 20px;
    margin: 0;
}

#content {
    background: white;
    clear: left;
    padding: 30px;
}

#content h2 {
    color: #000;
    font-size: 160%;
    margin: 0 0 .5em;
}

#aviso {
    background: white;
    color: red;
}

#info {
    color: navy;
    text-align: center;
}

li {
    padding: 18px;
}

#aviso {
    background: red;
    color: black;
}

a {
    color: rgba(255, 255, 255, 0.904);
}

textarea {
    resize: none;
}

table,
th,
td {
    border: 2px solid rgba(99, 23, 122, 0.904);
    border-collapse: collapse;
    padding: 8px;
    background: linear-gradient(to top, rgba(58, 8, 73, 0.6), rgba(112, 60, 128, 0.6));
    color: whitesmoke;
}

#footer {
    background: linear-gradient(to top, rgba(40, 8, 155, 0.6), rgba(93, 59, 185, 0.6), rgba(222, 209, 226, 0.6));
    text-align: center;
    padding: 1px;
    color: whitesmoke;
    text-shadow: rgb(46, 2, 59) 0.1em 0.1em 0.2em;
}


/*Imagen detalles*/

.cartel {
    width: 250px;
}